doctype html
html(lang="en", ng-app="aoi")
  head
    meta(charset="utf-8")
    title Addonist
    link(rel="stylesheet", href="/styles/addinist.css")

  body
    h1 Hello World

    script(src="/js/vendor.js?v=#{version}")
    script(src="/js/addonist.js?v=#{version}")